<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<h1>Contactez-nous</h1>
<p>Pour toute question, veuillez nous contacter à l'adresse email suivante : issasow1811@gmail.com</p>